// This lovely file was brought to you via automation
// Please do not update directly, as your changes will not persist

$white: #ffffff;
$black: #000000;
$gray50: #f2f3f4;
$gray100: #d7d8db;
$gray150: #cacccf;
$gray200: #bcbfc2;
$gray250: #afb2b6;
$gray300: #a2a4a9;
$gray350: #95979c;
$gray400: #888a8f;
$gray450: #7b7d83;
$gray500: #6e7076;
$gray550: #5f6268;
$gray600: #505359;
$gray650: #3e4146;
$gray700: #2b2f33;
$gray750: #24262a;
$gray800: #1c1d21;
$gray850: #15161a;
$gray900: #0e0f12;
$gray950: #040405;
$blue50: #e5e9ff;
$blue100: #b8c1ff;
$blue200: #8c9bff;
$blue300: #667bff;
$blue400: #334eff;
$blue500: #2c42d3;
$blue600: #2435a7;
$blue700: #1c2779;
$blue800: #1a1e36;
$blueNeon: #18ffff;
$purple50: #f8eeff;
$purple100: #e2bcfb;
$purple200: #d79aff;
$purple300: #b65df2;
$purple400: #a02ded;
$purple500: #812bba;
$purple600: #622888;
$purple700: #412554;
$purple800: #2b1a36;
$purpleNeon: #ff47ce;
$orange50: #ffddc7;
$orange100: #fcbe94;
$orange200: #f9a269;
$orange300: #f5873d;
$orange400: #f16c12;
$orange500: #ca5a10;
$orange600: #a2490d;
$orange700: #692e07;
$orange800: #312118;
$orangeNeon: #ff9212;
$green50: #e1f5e8;
$green100: #b0e9c3;
$green200: #80dd9f;
$green300: #50d17b;
$green400: #20c557;
$green500: #1b9f47;
$green600: #167737;
$green700: #104e25;
$green800: #182c22;
$greenNeon: #00ff3c;
$red50: #ffd0d0;
$red100: #f7a4a4;
$red200: #ef7979;
$red300: #ed5151;
$red400: #d63333;
$red500: #b82121;
$red600: #901e1e;
$red700: #691212;
$red800: #2f191b;
$redNeon: #ff3737;
$yellow50: #fff3d6;
$yellow100: #ffe49f;
$yellow200: #ffd66a;
$yellow300: #ffc736;
$yellow400: #ffb800;
$yellow500: #d59a03;
$yellow600: #aa7c05;
$yellow700: #715100;
$yellow800: #322b17;
$yellowNeon: #ffff21;
$accent50: #1a1e36;
$accent100: #1c2779;
$accent200: #2435a7;
$accent300: #2c42d3;
$accent400: #334eff;
$accent500: #667bff;
$accent600: #8c9bff;
$accent700: #b8c1ff;
$accent800: #e5e9ff;
$negative50: #2f191b;
$negative100: #691212;
$negative200: #901e1e;
$negative300: #b82121;
$negative400: #d63333;
$negative500: #ed5151;
$negative600: #ef7979;
$negative700: #f7a4a4;
$negative800: #ffd0d0;
$positive50: #182c22;
$positive100: #104e25;
$positive200: #167737;
$positive300: #1b9f47;
$positive400: #20c557;
$positive500: #50d17b;
$positive600: #80dd9f;
$positive700: #b0e9c3;
$positive800: #e1f5e8;
$primary0: #040405;
$primary50: #15161a;
$primary100: #24262a;
$primary150: #2b2f33;
$primary200: #3e4146;
$primary250: #505359;
$primary300: #505359;
$primary350: #505359;
$primary400: #6e7076;
$primary450: #6e7076;
$primary500: #888a8f;
$primary550: #888a8f;
$primary600: #a2a4a9;
$primary650: #a2a4a9;
$primary700: #bcbfc2;
$primary750: #bcbfc2;
$primary800: #d7d8db;
$primary850: #d7d8db;
$primary900: #f2f3f4;
$primary950: #ffffff;
$warning50: #322b17;
$warning100: #715100;
$warning200: #aa7c05;
$warning300: #d59a03;
$warning400: #ffb800;
$warning500: #ffc736;
$warning600: #ffd66a;
$warning700: #ffe49f;
$warning800: #fff3d6;
$dispositionAssumedFriend: #00ff3c;
$dispositionCivilian: #ff47ce;
$dispositionFriend: #18ffff;
$dispositionHostile: #ff3737;
$dispositionPending: #f2f3f4;
$dispositionSuspect: #ff9212;
$dispositionUnknown: #ffff21;
$scale0: 2px;
$scale100: 4px;
$scale200: 6px;
$scale300: 8px;
$scale400: 10px;
$scale500: 12px;
$scale550: 14px;
$scale600: 16px;
$scale650: 18px;
$scale700: 20px;
$scale750: 22px;
$scale800: 24px;
$scale850: 28px;
$scale900: 32px;
$scale950: 36px;
$scale1000: 40px;
$scale1200: 48px;
$scale1400: 56px;
$scale1600: 64px;
$scale2400: 96px;
$scale3200: 128px;
$scale4800: 192px;
