/**
  * This lovely file was brought to you via automation
  * Please do not update directly, as your changes will not persist
  **/

.dark {
  --ai-100: 400 10px/12px "Inter";
  --ai-150: 600 10px/14px "Inter";
  --ai-200: 400 12px/16px "Inter";
  --ai-250: 600 12px/16px "Inter";
  --ai-300: 400 14px/20px "Inter";
  --ai-350: 600 14px/20px "Inter";
  --ai-400: 400 16px/24px "Inter";
  --ai-450: 700 16px/20px "Inter";
  --ai-550: 700 18px/22px "Inter";
  --ai-650: 700 22px/28px "Inter";
  --ai-750: 700 28px/32px "Inter";
  --ai-850: 700 32px/40px "Inter";
  --ai-950: 700 36px/40px "Inter";
  --ai-white: #ffffff;
  --ai-black: #000000;
  --ai-gray50: #F2F3F4;
  --ai-gray100: #D7D8DB;
  --ai-gray150: #CACCCF;
  --ai-gray200: #BCBFC2;
  --ai-gray250: #AFB2B6;
  --ai-gray300: #A2A4A9;
  --ai-gray350: #95979C;
  --ai-gray400: #888A8F;
  --ai-gray450: #7B7D83;
  --ai-gray500: #6E7076;
  --ai-gray550: #5F6268;
  --ai-gray600: #505359;
  --ai-gray650: #3E4146;
  --ai-gray700: #2B2F33;
  --ai-gray750: #24262A;
  --ai-gray800: #1C1D21;
  --ai-gray850: #15161A;
  --ai-gray900: #0E0F12;
  --ai-gray950: #040405;
  --ai-blue50: #E5E9FF;
  --ai-blue100: #B8C1FF;
  --ai-blue200: #8C9BFF;
  --ai-blue300: #667BFF;
  --ai-blue400: #334EFF;
  --ai-blue500: #2C42D3;
  --ai-blue600: #2435A7;
  --ai-blue700: #1C2779;
  --ai-blue800: #1A1E36;
  --ai-blue-neon: #18FFFF;
  --ai-purple50: #F8EEFF;
  --ai-purple100: #E2BCFB;
  --ai-purple200: #D79AFF;
  --ai-purple300: #B65DF2;
  --ai-purple400: #A02DED;
  --ai-purple500: #812BBA;
  --ai-purple600: #622888;
  --ai-purple700: #412554;
  --ai-purple800: #2B1A36;
  --ai-purple-neon: #FF47CE;
  --ai-orange50: #FFDDC7;
  --ai-orange100: #FCBE94;
  --ai-orange200: #F9A269;
  --ai-orange300: #F5873D;
  --ai-orange400: #F16C12;
  --ai-orange500: #CA5A10;
  --ai-orange600: #A2490D;
  --ai-orange700: #692E07;
  --ai-orange800: #312118;
  --ai-orange-neon: #FF9212;
  --ai-green50: #E1F5E8;
  --ai-green100: #B0E9C3;
  --ai-green200: #80DD9F;
  --ai-green300: #50D17B;
  --ai-green400: #20C557;
  --ai-green500: #1B9F47;
  --ai-green600: #167737;
  --ai-green700: #104E25;
  --ai-green800: #182C22;
  --ai-green-neon: #00FF3C;
  --ai-red50: #FFD0D0;
  --ai-red100: #F7A4A4;
  --ai-red200: #EF7979;
  --ai-red300: #ED5151;
  --ai-red400: #D63333;
  --ai-red500: #B82121;
  --ai-red600: #901E1E;
  --ai-red700: #691212;
  --ai-red800: #2F191B;
  --ai-red-neon: #FF3737;
  --ai-yellow50: #FFF3D6;
  --ai-yellow100: #FFE49F;
  --ai-yellow200: #FFD66A;
  --ai-yellow300: #FFC736;
  --ai-yellow400: #FFB800;
  --ai-yellow500: #D59A03;
  --ai-yellow600: #AA7C05;
  --ai-yellow700: #715100;
  --ai-yellow800: #322B17;
  --ai-yellow-neon: #FFFF21;
  --ai-white-rgb: 255,255,255;
  --ai-white-hsl: 0 0% 100%;
  --ai-white-oklch: 1.000 0.000 0;
  --ai-black-rgb: 0,0,0;
  --ai-black-hsl: 0 0% 0%;
  --ai-black-oklch: 0.000 0.000 0;
  --ai-gray50-rgb: 242,243,244;
  --ai-gray50-hsl: 210 8% 95%;
  --ai-gray50-oklch: 0.964 0.002 247.8;
  --ai-gray100-rgb: 215,216,219;
  --ai-gray100-hsl: 225 5% 85%;
  --ai-gray100-oklch: 0.882 0.004 271.4;
  --ai-gray150-rgb: 202,204,207;
  --ai-gray150-hsl: 216 5% 80%;
  --ai-gray150-oklch: 0.845 0.005 258.3;
  --ai-gray200-rgb: 188,191,194;
  --ai-gray200-hsl: 210 5% 75%;
  --ai-gray200-oklch: 0.803 0.005 247.9;
  --ai-gray250-rgb: 175,178,182;
  --ai-gray250-hsl: 214 5% 70%;
  --ai-gray250-oklch: 0.762 0.007 255.5;
  --ai-gray300-rgb: 162,164,169;
  --ai-gray300-hsl: 223 4% 65%;
  --ai-gray300-oklch: 0.719 0.008 268.5;
  --ai-gray350-rgb: 149,151,156;
  --ai-gray350-hsl: 223 3% 60%;
  --ai-gray350-oklch: 0.676 0.008 268.5;
  --ai-gray400-rgb: 136,138,143;
  --ai-gray400-hsl: 223 3% 55%;
  --ai-gray400-oklch: 0.633 0.008 268.5;
  --ai-gray450-rgb: 123,125,131;
  --ai-gray450-hsl: 225 3% 50%;
  --ai-gray450-oklch: 0.590 0.009 271.3;
  --ai-gray500-rgb: 110,112,118;
  --ai-gray500-hsl: 225 4% 45%;
  --ai-gray500-oklch: 0.545 0.010 271.2;
  --ai-gray550-rgb: 95,98,104;
  --ai-gray550-hsl: 220 5% 39%;
  --ai-gray550-oklch: 0.496 0.010 264.5;
  --ai-gray600-rgb: 80,83,89;
  --ai-gray600-hsl: 220 5% 33%;
  --ai-gray600-oklch: 0.442 0.011 264.5;
  --ai-gray650-rgb: 62,65,70;
  --ai-gray650-hsl: 218 6% 26%;
  --ai-gray650-oklch: 0.374 0.009 260.7;
  --ai-gray700-rgb: 43,47,51;
  --ai-gray700-hsl: 210 9% 18%;
  --ai-gray700-oklch: 0.303 0.009 248.1;
  --ai-gray750-rgb: 36,38,42;
  --ai-gray750-hsl: 220 8% 15%;
  --ai-gray750-oklch: 0.268 0.008 264.4;
  --ai-gray800-rgb: 28,29,33;
  --ai-gray800-hsl: 228 8% 12%;
  --ai-gray800-oklch: 0.231 0.008 274.6;
  --ai-gray850-rgb: 21,22,26;
  --ai-gray850-hsl: 228 11% 9%;
  --ai-gray850-oklch: 0.201 0.008 274.5;
  --ai-gray900-rgb: 14,15,18;
  --ai-gray900-hsl: 225 13% 6%;
  --ai-gray900-oklch: 0.169 0.006 271.0;
  --ai-gray950-rgb: 4,4,5;
  --ai-gray950-hsl: 240 11% 2%;
  --ai-gray950-oklch: 0.108 0.004 285.8;
  --ai-blue50-rgb: 229,233,255;
  --ai-blue50-hsl: 231 100% 95%;
  --ai-blue50-oklch: 0.938 0.030 277.6;
  --ai-blue100-rgb: 184,193,255;
  --ai-blue100-hsl: 232 100% 86%;
  --ai-blue100-oklch: 0.826 0.088 277.9;
  --ai-blue200-rgb: 140,155,255;
  --ai-blue200-hsl: 232 100% 77%;
  --ai-blue200-oklch: 0.720 0.146 275.7;
  --ai-blue300-rgb: 102,123,255;
  --ai-blue300-hsl: 232 100% 70%;
  --ai-blue300-oklch: 0.635 0.196 272.8;
  --ai-blue400-rgb: 51,78,255;
  --ai-blue400-hsl: 232 100% 60%;
  --ai-blue400-oklch: 0.532 0.260 268.2;
  --ai-blue500-rgb: 44,66,211;
  --ai-blue500-hsl: 232 65% 50%;
  --ai-blue500-oklch: 0.468 0.221 268.6;
  --ai-blue600-rgb: 36,53,167;
  --ai-blue600-hsl: 232 65% 40%;
  --ai-blue600-oklch: 0.399 0.182 269.2;
  --ai-blue700-rgb: 28,39,121;
  --ai-blue700-hsl: 233 62% 29%;
  --ai-blue700-oklch: 0.324 0.139 270.4;
  --ai-blue800-rgb: 26,30,54;
  --ai-blue800-hsl: 231 35% 16%;
  --ai-blue800-oklch: 0.244 0.046 275.3;
  --ai-blue-neon-rgb: 24,255,255;
  --ai-blue-neon-hsl: 180 100% 55%;
  --ai-blue-neon-oklch: 0.906 0.153 194.8;
  --ai-purple50-rgb: 248,238,255;
  --ai-purple50-hsl: 275 100% 97%;
  --ai-purple50-oklch: 0.962 0.025 311.7;
  --ai-purple100-rgb: 226,188,251;
  --ai-purple100-hsl: 276 89% 86%;
  --ai-purple100-oklch: 0.849 0.095 311.7;
  --ai-purple200-rgb: 215,154,255;
  --ai-purple200-hsl: 276 100% 80%;
  --ai-purple200-oklch: 0.781 0.152 311.0;
  --ai-purple300-rgb: 182,93,242;
  --ai-purple300-hsl: 276 85% 66%;
  --ai-purple300-oklch: 0.649 0.220 309.1;
  --ai-purple400-rgb: 160,45,237;
  --ai-purple400-hsl: 276 84% 55%;
  --ai-purple400-oklch: 0.571 0.263 306.4;
  --ai-purple500-rgb: 129,43,186;
  --ai-purple500-hsl: 276 62% 45%;
  --ai-purple500-oklch: 0.490 0.211 307.5;
  --ai-purple600-rgb: 98,40,136;
  --ai-purple600-hsl: 276 55% 35%;
  --ai-purple600-oklch: 0.408 0.155 308.7;
  --ai-purple700-rgb: 65,37,84;
  --ai-purple700-hsl: 276 39% 24%;
  --ai-purple700-oklch: 0.323 0.086 309.9;
  --ai-purple800-rgb: 43,26,54;
  --ai-purple800-hsl: 276 35% 16%;
  --ai-purple800-oklch: 0.254 0.056 310.9;
  --ai-purple-neon-rgb: 255,71,206;
  --ai-purple-neon-hsl: 316 100% 64%;
  --ai-purple-neon-oklch: 0.705 0.254 340.8;
  --ai-orange50-rgb: 255,221,199;
  --ai-orange50-hsl: 24 100% 89%;
  --ai-orange50-oklch: 0.920 0.048 54.9;
  --ai-orange100-rgb: 252,190,148;
  --ai-orange100-hsl: 24 95% 78%;
  --ai-orange100-oklch: 0.848 0.091 55.3;
  --ai-orange200-rgb: 249,162,105;
  --ai-orange200-hsl: 24 92% 69%;
  --ai-orange200-oklch: 0.787 0.127 53.1;
  --ai-orange300-rgb: 245,135,61;
  --ai-orange300-hsl: 24 90% 60%;
  --ai-orange300-oklch: 0.732 0.159 51.3;
  --ai-orange400-rgb: 241,108,18;
  --ai-orange400-hsl: 24 89% 51%;
  --ai-orange400-oklch: 0.683 0.185 46.6;
  --ai-orange500-rgb: 202,90,16;
  --ai-orange500-hsl: 24 85% 43%;
  --ai-orange500-oklch: 0.599 0.161 46.6;
  --ai-orange600-rgb: 162,73,13;
  --ai-orange600-hsl: 24 85% 34%;
  --ai-orange600-oklch: 0.512 0.134 47.6;
  --ai-orange700-rgb: 105,46,7;
  --ai-orange700-hsl: 24 87% 22%;
  --ai-orange700-oklch: 0.377 0.097 48.0;
  --ai-orange800-rgb: 49,33,24;
  --ai-orange800-hsl: 22 34% 14%;
  --ai-orange800-oklch: 0.265 0.030 50.4;
  --ai-orange-neon-rgb: 255,146,18;
  --ai-orange-neon-hsl: 32 100% 54%;
  --ai-orange-neon-oklch: 0.761 0.174 60.3;
  --ai-green50-rgb: 225,245,232;
  --ai-green50-hsl: 141 50% 92%;
  --ai-green50-oklch: 0.952 0.027 157.4;
  --ai-green100-rgb: 176,233,195;
  --ai-green100-hsl: 140 56% 80%;
  --ai-green100-oklch: 0.885 0.078 155.3;
  --ai-green200-rgb: 128,221,159;
  --ai-green200-hsl: 140 58% 68%;
  --ai-green200-oklch: 0.823 0.125 153.6;
  --ai-green300-rgb: 80,209,123;
  --ai-green300-hsl: 140 58% 57%;
  --ai-green300-oklch: 0.768 0.167 151.3;
  --ai-green400-rgb: 32,197,87;
  --ai-green400-hsl: 140 72% 45%;
  --ai-green400-oklch: 0.722 0.198 148.4;
  --ai-green500-rgb: 27,159,71;
  --ai-green500-hsl: 140 71% 36%;
  --ai-green500-oklch: 0.616 0.167 148.7;
  --ai-green600-rgb: 22,119,55;
  --ai-green600-hsl: 140 69% 28%;
  --ai-green600-oklch: 0.501 0.130 149.4;
  --ai-green700-rgb: 16,78,37;
  --ai-green700-hsl: 140 66% 18%;
  --ai-green700-oklch: 0.375 0.092 150.1;
  --ai-green800-rgb: 24,44,34;
  --ai-green800-hsl: 150 29% 13%;
  --ai-green800-oklch: 0.272 0.032 161.5;
  --ai-green-neon-rgb: 0,255,60;
  --ai-green-neon-hsl: 134 100% 50%;
  --ai-green-neon-oklch: 0.868 0.280 144.2;
  --ai-red50-rgb: 255,208,208;
  --ai-red50-hsl: 0 100% 91%;
  --ai-red50-oklch: 0.898 0.053 18.2;
  --ai-red100-rgb: 247,164,164;
  --ai-red100-hsl: 0 84% 81%;
  --ai-red100-oklch: 0.800 0.099 19.5;
  --ai-red200-rgb: 239,121,121;
  --ai-red200-hsl: 0 79% 71%;
  --ai-red200-oklch: 0.711 0.146 21.4;
  --ai-red300-rgb: 237,81,81;
  --ai-red300-hsl: 0 81% 62%;
  --ai-red300-oklch: 0.649 0.192 24.2;
  --ai-red400-rgb: 214,51,51;
  --ai-red400-hsl: 0 67% 52%;
  --ai-red400-oklch: 0.577 0.200 26.1;
  --ai-red500-rgb: 184,33,33;
  --ai-red500-hsl: 0 70% 43%;
  --ai-red500-oklch: 0.507 0.186 27.1;
  --ai-red600-rgb: 144,30,30;
  --ai-red600-hsl: 0 66% 34%;
  --ai-red600-oklch: 0.429 0.150 26.3;
  --ai-red700-rgb: 105,18,18;
  --ai-red700-hsl: 0 71% 24%;
  --ai-red700-oklch: 0.341 0.121 26.4;
  --ai-red800-rgb: 47,25,27;
  --ai-red800-hsl: 355 31% 14%;
  --ai-red800-oklch: 0.244 0.035 14.1;
  --ai-red-neon-rgb: 255,55,55;
  --ai-red-neon-hsl: 0 100% 61%;
  --ai-red-neon-oklch: 0.652 0.234 26.7;
  --ai-yellow50-rgb: 255,243,214;
  --ai-yellow50-hsl: 42 100% 92%;
  --ai-yellow50-oklch: 0.966 0.040 88.2;
  --ai-yellow100-rgb: 255,228,159;
  --ai-yellow100-hsl: 43 100% 81%;
  --ai-yellow100-oklch: 0.925 0.092 89.1;
  --ai-yellow200-rgb: 255,214,106;
  --ai-yellow200-hsl: 43 100% 71%;
  --ai-yellow200-oklch: 0.890 0.134 88.7;
  --ai-yellow300-rgb: 255,199,54;
  --ai-yellow300-hsl: 43 100% 61%;
  --ai-yellow300-oklch: 0.857 0.161 85.8;
  --ai-yellow400-rgb: 255,184,0;
  --ai-yellow400-hsl: 43 100% 50%;
  --ai-yellow400-oklch: 0.827 0.171 80.5;
  --ai-yellow500-rgb: 213,154,3;
  --ai-yellow500-hsl: 43 97% 42%;
  --ai-yellow500-oklch: 0.724 0.149 81.0;
  --ai-yellow600-rgb: 170,124,5;
  --ai-yellow600-hsl: 43 94% 34%;
  --ai-yellow600-oklch: 0.616 0.126 82.2;
  --ai-yellow700-rgb: 113,81,0;
  --ai-yellow700-hsl: 43 100% 22%;
  --ai-yellow700-oklch: 0.457 0.094 82.2;
  --ai-yellow800-rgb: 50,43,23;
  --ai-yellow800-hsl: 44 37% 14%;
  --ai-yellow800-oklch: 0.291 0.034 90.8;
  --ai-yellow-neon-rgb: 255,255,33;
  --ai-yellow-neon-hsl: 60 100% 56%;
  --ai-yellow-neon-oklch: 0.968 0.206 109.7;
  --ai-mono100: 400 10px/12px "Source Code Pro";
  --ai-mono150: 600 10px/14px "Source Code Pro";
  --ai-mono200: 400 12px/16px "Source Code Pro";
  --ai-mono250: 600 12px/16px "Source Code Pro";
  --ai-mono300: 400 14px/20px "Source Code Pro";
  --ai-mono350: 600 14px/20px "Source Code Pro";
  --ai-mono400: 400 16px/24px "Source Code Pro";
  --ai-mono450: 700 16px/20px "Source Code Pro";
  --ai-mono550: 700 18px/22px "Source Code Pro";
  --ai-mono650: 700 22px/28px "Source Code Pro";
  --ai-mono750: 700 28px/32px "Source Code Pro";
  --ai-mono850: 700 32px/40px "Source Code Pro";
  --ai-mono950: 700 36px/40px "Source Code Pro";
  --ai-scale0: 2px;
  --ai-scale100: 4px;
  --ai-scale200: 6px;
  --ai-scale300: 8px;
  --ai-scale400: 10px;
  --ai-scale500: 12px;
  --ai-scale550: 14px;
  --ai-scale600: 16px;
  --ai-scale650: 18px;
  --ai-scale700: 20px;
  --ai-scale750: 22px;
  --ai-scale800: 24px;
  --ai-scale850: 28px;
  --ai-scale900: 32px;
  --ai-scale950: 36px;
  --ai-scale1000: 40px;
  --ai-scale1200: 48px;
  --ai-scale1400: 56px;
  --ai-scale1600: 64px;
  --ai-scale2400: 96px;
  --ai-scale3200: 128px;
  --ai-scale4800: 192px;
  --ai-accent50: #1A1E36;
  --ai-accent100: #1C2779;
  --ai-accent200: #2435A7;
  --ai-accent300: #2C42D3;
  --ai-accent400: #334EFF;
  --ai-accent500: #667BFF;
  --ai-accent600: #8C9BFF;
  --ai-accent700: #B8C1FF;
  --ai-accent800: #E5E9FF;
  --ai-negative50: #2F191B;
  --ai-negative100: #691212;
  --ai-negative200: #901E1E;
  --ai-negative300: #B82121;
  --ai-negative400: #D63333;
  --ai-negative500: #ED5151;
  --ai-negative600: #EF7979;
  --ai-negative700: #F7A4A4;
  --ai-negative800: #FFD0D0;
  --ai-positive50: #182C22;
  --ai-positive100: #104E25;
  --ai-positive200: #167737;
  --ai-positive300: #1B9F47;
  --ai-positive400: #20C557;
  --ai-positive500: #50D17B;
  --ai-positive600: #80DD9F;
  --ai-positive700: #B0E9C3;
  --ai-positive800: #E1F5E8;
  --ai-primary0: #040405;
  --ai-primary50: #15161A;
  --ai-primary100: #24262A;
  --ai-primary150: #2B2F33;
  --ai-primary200: #3E4146;
  --ai-primary250: #505359;
  --ai-primary300: #505359;
  --ai-primary350: #505359;
  --ai-primary400: #6E7076;
  --ai-primary450: #6E7076;
  --ai-primary500: #888A8F;
  --ai-primary550: #888A8F;
  --ai-primary600: #A2A4A9;
  --ai-primary650: #A2A4A9;
  --ai-primary700: #BCBFC2;
  --ai-primary750: #BCBFC2;
  --ai-primary800: #D7D8DB;
  --ai-primary850: #D7D8DB;
  --ai-primary900: #F2F3F4;
  --ai-primary950: #ffffff;
  --ai-warning50: #322B17;
  --ai-warning100: #715100;
  --ai-warning200: #AA7C05;
  --ai-warning300: #D59A03;
  --ai-warning400: #FFB800;
  --ai-warning500: #FFC736;
  --ai-warning600: #FFD66A;
  --ai-warning700: #FFE49F;
  --ai-warning800: #FFF3D6;
  --ai-disposition-assumed-friend: #00FF3C;
  --ai-disposition-civilian: #FF47CE;
  --ai-disposition-friend: #18FFFF;
  --ai-disposition-hostile: #FF3737;
  --ai-disposition-pending: #F2F3F4;
  --ai-disposition-suspect: #FF9212;
  --ai-disposition-unknown: #FFFF21;
  --ai-accent50-rgb: 26,30,54;
  --ai-accent50-hsl: 231 35% 16%;
  --ai-accent50-oklch: 0.244 0.046 275.3;
  --ai-accent100-rgb: 28,39,121;
  --ai-accent100-hsl: 233 62% 29%;
  --ai-accent100-oklch: 0.324 0.139 270.4;
  --ai-accent200-rgb: 36,53,167;
  --ai-accent200-hsl: 232 65% 40%;
  --ai-accent200-oklch: 0.399 0.182 269.2;
  --ai-accent300-rgb: 44,66,211;
  --ai-accent300-hsl: 232 65% 50%;
  --ai-accent300-oklch: 0.468 0.221 268.6;
  --ai-accent400-rgb: 51,78,255;
  --ai-accent400-hsl: 232 100% 60%;
  --ai-accent400-oklch: 0.532 0.260 268.2;
  --ai-accent500-rgb: 102,123,255;
  --ai-accent500-hsl: 232 100% 70%;
  --ai-accent500-oklch: 0.635 0.196 272.8;
  --ai-accent600-rgb: 140,155,255;
  --ai-accent600-hsl: 232 100% 77%;
  --ai-accent600-oklch: 0.720 0.146 275.7;
  --ai-accent700-rgb: 184,193,255;
  --ai-accent700-hsl: 232 100% 86%;
  --ai-accent700-oklch: 0.826 0.088 277.9;
  --ai-accent800-rgb: 229,233,255;
  --ai-accent800-hsl: 231 100% 95%;
  --ai-accent800-oklch: 0.938 0.030 277.6;
  --ai-negative50-rgb: 47,25,27;
  --ai-negative50-hsl: 355 31% 14%;
  --ai-negative50-oklch: 0.244 0.035 14.1;
  --ai-negative100-rgb: 105,18,18;
  --ai-negative100-hsl: 0 71% 24%;
  --ai-negative100-oklch: 0.341 0.121 26.4;
  --ai-negative200-rgb: 144,30,30;
  --ai-negative200-hsl: 0 66% 34%;
  --ai-negative200-oklch: 0.429 0.150 26.3;
  --ai-negative300-rgb: 184,33,33;
  --ai-negative300-hsl: 0 70% 43%;
  --ai-negative300-oklch: 0.507 0.186 27.1;
  --ai-negative400-rgb: 214,51,51;
  --ai-negative400-hsl: 0 67% 52%;
  --ai-negative400-oklch: 0.577 0.200 26.1;
  --ai-negative500-rgb: 237,81,81;
  --ai-negative500-hsl: 0 81% 62%;
  --ai-negative500-oklch: 0.649 0.192 24.2;
  --ai-negative600-rgb: 239,121,121;
  --ai-negative600-hsl: 0 79% 71%;
  --ai-negative600-oklch: 0.711 0.146 21.4;
  --ai-negative700-rgb: 247,164,164;
  --ai-negative700-hsl: 0 84% 81%;
  --ai-negative700-oklch: 0.800 0.099 19.5;
  --ai-negative800-rgb: 255,208,208;
  --ai-negative800-hsl: 0 100% 91%;
  --ai-negative800-oklch: 0.898 0.053 18.2;
  --ai-positive50-rgb: 24,44,34;
  --ai-positive50-hsl: 150 29% 13%;
  --ai-positive50-oklch: 0.272 0.032 161.5;
  --ai-positive100-rgb: 16,78,37;
  --ai-positive100-hsl: 140 66% 18%;
  --ai-positive100-oklch: 0.375 0.092 150.1;
  --ai-positive200-rgb: 22,119,55;
  --ai-positive200-hsl: 140 69% 28%;
  --ai-positive200-oklch: 0.501 0.130 149.4;
  --ai-positive300-rgb: 27,159,71;
  --ai-positive300-hsl: 140 71% 36%;
  --ai-positive300-oklch: 0.616 0.167 148.7;
  --ai-positive400-rgb: 32,197,87;
  --ai-positive400-hsl: 140 72% 45%;
  --ai-positive400-oklch: 0.722 0.198 148.4;
  --ai-positive500-rgb: 80,209,123;
  --ai-positive500-hsl: 140 58% 57%;
  --ai-positive500-oklch: 0.768 0.167 151.3;
  --ai-positive600-rgb: 128,221,159;
  --ai-positive600-hsl: 140 58% 68%;
  --ai-positive600-oklch: 0.823 0.125 153.6;
  --ai-positive700-rgb: 176,233,195;
  --ai-positive700-hsl: 140 56% 80%;
  --ai-positive700-oklch: 0.885 0.078 155.3;
  --ai-positive800-rgb: 225,245,232;
  --ai-positive800-hsl: 141 50% 92%;
  --ai-positive800-oklch: 0.952 0.027 157.4;
  --ai-primary0-rgb: 4,4,5;
  --ai-primary0-hsl: 240 11% 2%;
  --ai-primary0-oklch: 0.108 0.004 285.8;
  --ai-primary50-rgb: 21,22,26;
  --ai-primary50-hsl: 228 11% 9%;
  --ai-primary50-oklch: 0.201 0.008 274.5;
  --ai-primary100-rgb: 36,38,42;
  --ai-primary100-hsl: 220 8% 15%;
  --ai-primary100-oklch: 0.268 0.008 264.4;
  --ai-primary150-rgb: 43,47,51;
  --ai-primary150-hsl: 210 9% 18%;
  --ai-primary150-oklch: 0.303 0.009 248.1;
  --ai-primary200-rgb: 62,65,70;
  --ai-primary200-hsl: 218 6% 26%;
  --ai-primary200-oklch: 0.374 0.009 260.7;
  --ai-primary250-rgb: 80,83,89;
  --ai-primary250-hsl: 220 5% 33%;
  --ai-primary250-oklch: 0.442 0.011 264.5;
  --ai-primary300-rgb: 80,83,89;
  --ai-primary300-hsl: 220 5% 33%;
  --ai-primary300-oklch: 0.442 0.011 264.5;
  --ai-primary350-rgb: 80,83,89;
  --ai-primary350-hsl: 220 5% 33%;
  --ai-primary350-oklch: 0.442 0.011 264.5;
  --ai-primary400-rgb: 110,112,118;
  --ai-primary400-hsl: 225 4% 45%;
  --ai-primary400-oklch: 0.545 0.010 271.2;
  --ai-primary450-rgb: 110,112,118;
  --ai-primary450-hsl: 225 4% 45%;
  --ai-primary450-oklch: 0.545 0.010 271.2;
  --ai-primary500-rgb: 136,138,143;
  --ai-primary500-hsl: 223 3% 55%;
  --ai-primary500-oklch: 0.633 0.008 268.5;
  --ai-primary550-rgb: 136,138,143;
  --ai-primary550-hsl: 223 3% 55%;
  --ai-primary550-oklch: 0.633 0.008 268.5;
  --ai-primary600-rgb: 162,164,169;
  --ai-primary600-hsl: 223 4% 65%;
  --ai-primary600-oklch: 0.719 0.008 268.5;
  --ai-primary650-rgb: 162,164,169;
  --ai-primary650-hsl: 223 4% 65%;
  --ai-primary650-oklch: 0.719 0.008 268.5;
  --ai-primary700-rgb: 188,191,194;
  --ai-primary700-hsl: 210 5% 75%;
  --ai-primary700-oklch: 0.803 0.005 247.9;
  --ai-primary750-rgb: 188,191,194;
  --ai-primary750-hsl: 210 5% 75%;
  --ai-primary750-oklch: 0.803 0.005 247.9;
  --ai-primary800-rgb: 215,216,219;
  --ai-primary800-hsl: 225 5% 85%;
  --ai-primary800-oklch: 0.882 0.004 271.4;
  --ai-primary850-rgb: 215,216,219;
  --ai-primary850-hsl: 225 5% 85%;
  --ai-primary850-oklch: 0.882 0.004 271.4;
  --ai-primary900-rgb: 242,243,244;
  --ai-primary900-hsl: 210 8% 95%;
  --ai-primary900-oklch: 0.964 0.002 247.8;
  --ai-primary950-rgb: 255,255,255;
  --ai-primary950-hsl: 0 0% 100%;
  --ai-primary950-oklch: 1.000 0.000 0;
  --ai-warning50-rgb: 50,43,23;
  --ai-warning50-hsl: 44 37% 14%;
  --ai-warning50-oklch: 0.291 0.034 90.8;
  --ai-warning100-rgb: 113,81,0;
  --ai-warning100-hsl: 43 100% 22%;
  --ai-warning100-oklch: 0.457 0.094 82.2;
  --ai-warning200-rgb: 170,124,5;
  --ai-warning200-hsl: 43 94% 34%;
  --ai-warning200-oklch: 0.616 0.126 82.2;
  --ai-warning300-rgb: 213,154,3;
  --ai-warning300-hsl: 43 97% 42%;
  --ai-warning300-oklch: 0.724 0.149 81.0;
  --ai-warning400-rgb: 255,184,0;
  --ai-warning400-hsl: 43 100% 50%;
  --ai-warning400-oklch: 0.827 0.171 80.5;
  --ai-warning500-rgb: 255,199,54;
  --ai-warning500-hsl: 43 100% 61%;
  --ai-warning500-oklch: 0.857 0.161 85.8;
  --ai-warning600-rgb: 255,214,106;
  --ai-warning600-hsl: 43 100% 71%;
  --ai-warning600-oklch: 0.890 0.134 88.7;
  --ai-warning700-rgb: 255,228,159;
  --ai-warning700-hsl: 43 100% 81%;
  --ai-warning700-oklch: 0.925 0.092 89.1;
  --ai-warning800-rgb: 255,243,214;
  --ai-warning800-hsl: 42 100% 92%;
  --ai-warning800-oklch: 0.966 0.040 88.2;
  --ai-disposition-assumed-friend-rgb: 0,255,60;
  --ai-disposition-assumed-friend-hsl: 134 100% 50%;
  --ai-disposition-assumed-friend-oklch: 0.868 0.280 144.2;
  --ai-disposition-civilian-rgb: 255,71,206;
  --ai-disposition-civilian-hsl: 316 100% 64%;
  --ai-disposition-civilian-oklch: 0.705 0.254 340.8;
  --ai-disposition-friend-rgb: 24,255,255;
  --ai-disposition-friend-hsl: 180 100% 55%;
  --ai-disposition-friend-oklch: 0.906 0.153 194.8;
  --ai-disposition-hostile-rgb: 255,55,55;
  --ai-disposition-hostile-hsl: 0 100% 61%;
  --ai-disposition-hostile-oklch: 0.652 0.234 26.7;
  --ai-disposition-pending-rgb: 242,243,244;
  --ai-disposition-pending-hsl: 210 8% 95%;
  --ai-disposition-pending-oklch: 0.964 0.002 247.8;
  --ai-disposition-suspect-rgb: 255,146,18;
  --ai-disposition-suspect-hsl: 32 100% 54%;
  --ai-disposition-suspect-oklch: 0.761 0.174 60.3;
  --ai-disposition-unknown-rgb: 255,255,33;
  --ai-disposition-unknown-hsl: 60 100% 56%;
  --ai-disposition-unknown-oklch: 0.968 0.206 109.7;
}

