
// This lovely file was brought to you via automation
// Please do not update directly, as your changes will not persist

$color-white: #ffffff;
$color-black: #000000;
$color-gray50: #F2F3F4;
$color-gray100: #D7D8DB;
$color-gray150: #CACCCF;
$color-gray200: #BCBFC2;
$color-gray250: #AFB2B6;
$color-gray300: #A2A4A9;
$color-gray350: #95979C;
$color-gray400: #888A8F;
$color-gray450: #7B7D83;
$color-gray500: #6E7076;
$color-gray550: #5F6268;
$color-gray600: #505359;
$color-gray650: #3E4146;
$color-gray700: #2B2F33;
$color-gray750: #24262A;
$color-gray800: #1C1D21;
$color-gray850: #15161A;
$color-gray900: #0E0F12;
$color-gray950: #040405;
$color-blue50: #E5E9FF;
$color-blue100: #B8C1FF;
$color-blue200: #8C9BFF;
$color-blue300: #667BFF;
$color-blue400: #334EFF;
$color-blue500: #2C42D3;
$color-blue600: #2435A7;
$color-blue700: #1C2779;
$color-blue800: #1A1E36;
$color-blue-neon: #18FFFF;
$color-purple50: #F8EEFF;
$color-purple100: #E2BCFB;
$color-purple200: #D79AFF;
$color-purple300: #B65DF2;
$color-purple400: #A02DED;
$color-purple500: #812BBA;
$color-purple600: #622888;
$color-purple700: #412554;
$color-purple800: #2B1A36;
$color-purple-neon: #FF47CE;
$color-orange50: #FFDDC7;
$color-orange100: #FCBE94;
$color-orange200: #F9A269;
$color-orange300: #F5873D;
$color-orange400: #F16C12;
$color-orange500: #CA5A10;
$color-orange600: #A2490D;
$color-orange700: #692E07;
$color-orange800: #312118;
$color-orange-neon: #FF9212;
$color-green50: #E1F5E8;
$color-green100: #B0E9C3;
$color-green200: #80DD9F;
$color-green300: #50D17B;
$color-green400: #20C557;
$color-green500: #1B9F47;
$color-green600: #167737;
$color-green700: #104E25;
$color-green800: #182C22;
$color-green-neon: #00FF3C;
$color-red50: #FFD0D0;
$color-red100: #F7A4A4;
$color-red200: #EF7979;
$color-red300: #ED5151;
$color-red400: #D63333;
$color-red500: #B82121;
$color-red600: #901E1E;
$color-red700: #691212;
$color-red800: #2F191B;
$color-red-neon: #FF3737;
$color-yellow50: #FFF3D6;
$color-yellow100: #FFE49F;
$color-yellow200: #FFD66A;
$color-yellow300: #FFC736;
$color-yellow400: #FFB800;
$color-yellow500: #D59A03;
$color-yellow600: #AA7C05;
$color-yellow700: #715100;
$color-yellow800: #322B17;
$color-yellow-neon: #FFFF21;
$color-white-hsl: #ffffff;
$color-white-oklch: #ffffff;
$color-black-hsl: #000000;
$color-black-oklch: #000000;
$color-gray50-hsl: #F2F3F4;
$color-gray50-oklch: #F2F3F4;
$color-gray100-hsl: #D7D8DB;
$color-gray100-oklch: #D7D8DB;
$color-gray150-hsl: #CACCCF;
$color-gray150-oklch: #CACCCF;
$color-gray200-hsl: #BCBFC2;
$color-gray200-oklch: #BCBFC2;
$color-gray250-hsl: #AFB2B6;
$color-gray250-oklch: #AFB2B6;
$color-gray300-hsl: #A2A4A9;
$color-gray300-oklch: #A2A4A9;
$color-gray350-hsl: #95979C;
$color-gray350-oklch: #95979C;
$color-gray400-hsl: #888A8F;
$color-gray400-oklch: #888A8F;
$color-gray450-hsl: #7B7D83;
$color-gray450-oklch: #7B7D83;
$color-gray500-hsl: #6E7076;
$color-gray500-oklch: #6E7076;
$color-gray550-hsl: #5F6268;
$color-gray550-oklch: #5F6268;
$color-gray600-hsl: #505359;
$color-gray600-oklch: #505359;
$color-gray650-hsl: #3E4146;
$color-gray650-oklch: #3E4146;
$color-gray700-hsl: #2B2F33;
$color-gray700-oklch: #2B2F33;
$color-gray750-hsl: #24262A;
$color-gray750-oklch: #24262A;
$color-gray800-hsl: #1C1D21;
$color-gray800-oklch: #1C1D21;
$color-gray850-hsl: #15161A;
$color-gray850-oklch: #15161A;
$color-gray900-hsl: #0E0F12;
$color-gray900-oklch: #0E0F12;
$color-gray950-hsl: #040405;
$color-gray950-oklch: #040405;
$color-blue50-hsl: #E5E9FF;
$color-blue50-oklch: #E5E9FF;
$color-blue100-hsl: #B8C1FF;
$color-blue100-oklch: #B8C1FF;
$color-blue200-hsl: #8C9BFF;
$color-blue200-oklch: #8C9BFF;
$color-blue300-hsl: #667BFF;
$color-blue300-oklch: #667BFF;
$color-blue400-hsl: #334EFF;
$color-blue400-oklch: #334EFF;
$color-blue500-hsl: #2C42D3;
$color-blue500-oklch: #2C42D3;
$color-blue600-hsl: #2435A7;
$color-blue600-oklch: #2435A7;
$color-blue700-hsl: #1C2779;
$color-blue700-oklch: #1C2779;
$color-blue800-hsl: #1A1E36;
$color-blue800-oklch: #1A1E36;
$color-blue-neon-hsl: #18FFFF;
$color-blue-neon-oklch: #18FFFF;
$color-purple50-hsl: #F8EEFF;
$color-purple50-oklch: #F8EEFF;
$color-purple100-hsl: #E2BCFB;
$color-purple100-oklch: #E2BCFB;
$color-purple200-hsl: #D79AFF;
$color-purple200-oklch: #D79AFF;
$color-purple300-hsl: #B65DF2;
$color-purple300-oklch: #B65DF2;
$color-purple400-hsl: #A02DED;
$color-purple400-oklch: #A02DED;
$color-purple500-hsl: #812BBA;
$color-purple500-oklch: #812BBA;
$color-purple600-hsl: #622888;
$color-purple600-oklch: #622888;
$color-purple700-hsl: #412554;
$color-purple700-oklch: #412554;
$color-purple800-hsl: #2B1A36;
$color-purple800-oklch: #2B1A36;
$color-purple-neon-hsl: #FF47CE;
$color-purple-neon-oklch: #FF47CE;
$color-orange50-hsl: #FFDDC7;
$color-orange50-oklch: #FFDDC7;
$color-orange100-hsl: #FCBE94;
$color-orange100-oklch: #FCBE94;
$color-orange200-hsl: #F9A269;
$color-orange200-oklch: #F9A269;
$color-orange300-hsl: #F5873D;
$color-orange300-oklch: #F5873D;
$color-orange400-hsl: #F16C12;
$color-orange400-oklch: #F16C12;
$color-orange500-hsl: #CA5A10;
$color-orange500-oklch: #CA5A10;
$color-orange600-hsl: #A2490D;
$color-orange600-oklch: #A2490D;
$color-orange700-hsl: #692E07;
$color-orange700-oklch: #692E07;
$color-orange800-hsl: #312118;
$color-orange800-oklch: #312118;
$color-orange-neon-hsl: #FF9212;
$color-orange-neon-oklch: #FF9212;
$color-green50-hsl: #E1F5E8;
$color-green50-oklch: #E1F5E8;
$color-green100-hsl: #B0E9C3;
$color-green100-oklch: #B0E9C3;
$color-green200-hsl: #80DD9F;
$color-green200-oklch: #80DD9F;
$color-green300-hsl: #50D17B;
$color-green300-oklch: #50D17B;
$color-green400-hsl: #20C557;
$color-green400-oklch: #20C557;
$color-green500-hsl: #1B9F47;
$color-green500-oklch: #1B9F47;
$color-green600-hsl: #167737;
$color-green600-oklch: #167737;
$color-green700-hsl: #104E25;
$color-green700-oklch: #104E25;
$color-green800-hsl: #182C22;
$color-green800-oklch: #182C22;
$color-green-neon-hsl: #00FF3C;
$color-green-neon-oklch: #00FF3C;
$color-red50-hsl: #FFD0D0;
$color-red50-oklch: #FFD0D0;
$color-red100-hsl: #F7A4A4;
$color-red100-oklch: #F7A4A4;
$color-red200-hsl: #EF7979;
$color-red200-oklch: #EF7979;
$color-red300-hsl: #ED5151;
$color-red300-oklch: #ED5151;
$color-red400-hsl: #D63333;
$color-red400-oklch: #D63333;
$color-red500-hsl: #B82121;
$color-red500-oklch: #B82121;
$color-red600-hsl: #901E1E;
$color-red600-oklch: #901E1E;
$color-red700-hsl: #691212;
$color-red700-oklch: #691212;
$color-red800-hsl: #2F191B;
$color-red800-oklch: #2F191B;
$color-red-neon-hsl: #FF3737;
$color-red-neon-oklch: #FF3737;
$color-yellow50-hsl: #FFF3D6;
$color-yellow50-oklch: #FFF3D6;
$color-yellow100-hsl: #FFE49F;
$color-yellow100-oklch: #FFE49F;
$color-yellow200-hsl: #FFD66A;
$color-yellow200-oklch: #FFD66A;
$color-yellow300-hsl: #FFC736;
$color-yellow300-oklch: #FFC736;
$color-yellow400-hsl: #FFB800;
$color-yellow400-oklch: #FFB800;
$color-yellow500-hsl: #D59A03;
$color-yellow500-oklch: #D59A03;
$color-yellow600-hsl: #AA7C05;
$color-yellow600-oklch: #AA7C05;
$color-yellow700-hsl: #715100;
$color-yellow700-oklch: #715100;
$color-yellow800-hsl: #322B17;
$color-yellow800-oklch: #322B17;
$color-yellow-neon-hsl: #FFFF21;
$color-yellow-neon-oklch: #FFFF21;
$color-accent50: #1A1E36;
$color-accent100: #1C2779;
$color-accent200: #2435A7;
$color-accent300: #2C42D3;
$color-accent400: #334EFF;
$color-accent500: #667BFF;
$color-accent600: #8C9BFF;
$color-accent700: #B8C1FF;
$color-accent800: #E5E9FF;
$color-negative50: #2F191B;
$color-negative100: #691212;
$color-negative200: #901E1E;
$color-negative300: #B82121;
$color-negative400: #D63333;
$color-negative500: #ED5151;
$color-negative600: #EF7979;
$color-negative700: #F7A4A4;
$color-negative800: #FFD0D0;
$color-positive50: #182C22;
$color-positive100: #104E25;
$color-positive200: #167737;
$color-positive300: #1B9F47;
$color-positive400: #20C557;
$color-positive500: #50D17B;
$color-positive600: #80DD9F;
$color-positive700: #B0E9C3;
$color-positive800: #E1F5E8;
$color-primary0: #040405;
$color-primary50: #15161A;
$color-primary100: #24262A;
$color-primary150: #2B2F33;
$color-primary200: #3E4146;
$color-primary250: #505359;
$color-primary300: #505359;
$color-primary350: #505359;
$color-primary400: #6E7076;
$color-primary450: #6E7076;
$color-primary500: #888A8F;
$color-primary550: #888A8F;
$color-primary600: #A2A4A9;
$color-primary650: #A2A4A9;
$color-primary700: #BCBFC2;
$color-primary750: #BCBFC2;
$color-primary800: #D7D8DB;
$color-primary850: #D7D8DB;
$color-primary900: #F2F3F4;
$color-primary950: #ffffff;
$color-warning50: #322B17;
$color-warning100: #715100;
$color-warning200: #AA7C05;
$color-warning300: #D59A03;
$color-warning400: #FFB800;
$color-warning500: #FFC736;
$color-warning600: #FFD66A;
$color-warning700: #FFE49F;
$color-warning800: #FFF3D6;
$color-disposition-assumed-friend: #00FF3C;
$color-disposition-civilian: #FF47CE;
$color-disposition-friend: #18FFFF;
$color-disposition-hostile: #FF3737;
$color-disposition-pending: #F2F3F4;
$color-disposition-suspect: #FF9212;
$color-disposition-unknown: #FFFF21;
$color-accent50-hsl: #1A1E36;
$color-accent50-oklch: #1A1E36;
$color-accent100-hsl: #1C2779;
$color-accent100-oklch: #1C2779;
$color-accent200-hsl: #2435A7;
$color-accent200-oklch: #2435A7;
$color-accent300-hsl: #2C42D3;
$color-accent300-oklch: #2C42D3;
$color-accent400-hsl: #334EFF;
$color-accent400-oklch: #334EFF;
$color-accent500-hsl: #667BFF;
$color-accent500-oklch: #667BFF;
$color-accent600-hsl: #8C9BFF;
$color-accent600-oklch: #8C9BFF;
$color-accent700-hsl: #B8C1FF;
$color-accent700-oklch: #B8C1FF;
$color-accent800-hsl: #E5E9FF;
$color-accent800-oklch: #E5E9FF;
$color-negative50-hsl: #2F191B;
$color-negative50-oklch: #2F191B;
$color-negative100-hsl: #691212;
$color-negative100-oklch: #691212;
$color-negative200-hsl: #901E1E;
$color-negative200-oklch: #901E1E;
$color-negative300-hsl: #B82121;
$color-negative300-oklch: #B82121;
$color-negative400-hsl: #D63333;
$color-negative400-oklch: #D63333;
$color-negative500-hsl: #ED5151;
$color-negative500-oklch: #ED5151;
$color-negative600-hsl: #EF7979;
$color-negative600-oklch: #EF7979;
$color-negative700-hsl: #F7A4A4;
$color-negative700-oklch: #F7A4A4;
$color-negative800-hsl: #FFD0D0;
$color-negative800-oklch: #FFD0D0;
$color-positive50-hsl: #182C22;
$color-positive50-oklch: #182C22;
$color-positive100-hsl: #104E25;
$color-positive100-oklch: #104E25;
$color-positive200-hsl: #167737;
$color-positive200-oklch: #167737;
$color-positive300-hsl: #1B9F47;
$color-positive300-oklch: #1B9F47;
$color-positive400-hsl: #20C557;
$color-positive400-oklch: #20C557;
$color-positive500-hsl: #50D17B;
$color-positive500-oklch: #50D17B;
$color-positive600-hsl: #80DD9F;
$color-positive600-oklch: #80DD9F;
$color-positive700-hsl: #B0E9C3;
$color-positive700-oklch: #B0E9C3;
$color-positive800-hsl: #E1F5E8;
$color-positive800-oklch: #E1F5E8;
$color-primary0-hsl: #040405;
$color-primary0-oklch: #040405;
$color-primary50-hsl: #15161A;
$color-primary50-oklch: #15161A;
$color-primary100-hsl: #24262A;
$color-primary100-oklch: #24262A;
$color-primary150-hsl: #2B2F33;
$color-primary150-oklch: #2B2F33;
$color-primary200-hsl: #3E4146;
$color-primary200-oklch: #3E4146;
$color-primary250-hsl: #505359;
$color-primary250-oklch: #505359;
$color-primary300-hsl: #505359;
$color-primary300-oklch: #505359;
$color-primary350-hsl: #505359;
$color-primary350-oklch: #505359;
$color-primary400-hsl: #6E7076;
$color-primary400-oklch: #6E7076;
$color-primary450-hsl: #6E7076;
$color-primary450-oklch: #6E7076;
$color-primary500-hsl: #888A8F;
$color-primary500-oklch: #888A8F;
$color-primary550-hsl: #888A8F;
$color-primary550-oklch: #888A8F;
$color-primary600-hsl: #A2A4A9;
$color-primary600-oklch: #A2A4A9;
$color-primary650-hsl: #A2A4A9;
$color-primary650-oklch: #A2A4A9;
$color-primary700-hsl: #BCBFC2;
$color-primary700-oklch: #BCBFC2;
$color-primary750-hsl: #BCBFC2;
$color-primary750-oklch: #BCBFC2;
$color-primary800-hsl: #D7D8DB;
$color-primary800-oklch: #D7D8DB;
$color-primary850-hsl: #D7D8DB;
$color-primary850-oklch: #D7D8DB;
$color-primary900-hsl: #F2F3F4;
$color-primary900-oklch: #F2F3F4;
$color-primary950-hsl: #ffffff;
$color-primary950-oklch: #ffffff;
$color-warning50-hsl: #322B17;
$color-warning50-oklch: #322B17;
$color-warning100-hsl: #715100;
$color-warning100-oklch: #715100;
$color-warning200-hsl: #AA7C05;
$color-warning200-oklch: #AA7C05;
$color-warning300-hsl: #D59A03;
$color-warning300-oklch: #D59A03;
$color-warning400-hsl: #FFB800;
$color-warning400-oklch: #FFB800;
$color-warning500-hsl: #FFC736;
$color-warning500-oklch: #FFC736;
$color-warning600-hsl: #FFD66A;
$color-warning600-oklch: #FFD66A;
$color-warning700-hsl: #FFE49F;
$color-warning700-oklch: #FFE49F;
$color-warning800-hsl: #FFF3D6;
$color-warning800-oklch: #FFF3D6;
$color-disposition-assumed-friend-hsl: #00FF3C;
$color-disposition-assumed-friend-oklch: #00FF3C;
$color-disposition-civilian-hsl: #FF47CE;
$color-disposition-civilian-oklch: #FF47CE;
$color-disposition-friend-hsl: #18FFFF;
$color-disposition-friend-oklch: #18FFFF;
$color-disposition-hostile-hsl: #FF3737;
$color-disposition-hostile-oklch: #FF3737;
$color-disposition-pending-hsl: #F2F3F4;
$color-disposition-pending-oklch: #F2F3F4;
$color-disposition-suspect-hsl: #FF9212;
$color-disposition-suspect-oklch: #FF9212;
$color-disposition-unknown-hsl: #FFFF21;
$color-disposition-unknown-oklch: #FFFF21;
$sizing-scale0: 2px;
$sizing-scale100: 4px;
$sizing-scale200: 6px;
$sizing-scale300: 8px;
$sizing-scale400: 10px;
$sizing-scale500: 12px;
$sizing-scale550: 14px;
$sizing-scale600: 16px;
$sizing-scale650: 18px;
$sizing-scale700: 20px;
$sizing-scale750: 22px;
$sizing-scale800: 24px;
$sizing-scale850: 28px;
$sizing-scale900: 32px;
$sizing-scale950: 36px;
$sizing-scale1000: 40px;
$sizing-scale1200: 48px;
$sizing-scale1400: 56px;
$sizing-scale1600: 64px;
$sizing-scale2400: 96px;
$sizing-scale3200: 128px;
$sizing-scale4800: 192px;
