/**
  * This lovely file was brought to you via automation
  * Please do not update directly, as your changes will not persist
  **/

.light {
  --ai-100: 400 10px/12px "Inter";
  --ai-150: 600 10px/14px "Inter";
  --ai-200: 400 12px/16px "Inter";
  --ai-250: 600 12px/16px "Inter";
  --ai-300: 400 14px/20px "Inter";
  --ai-350: 600 14px/20px "Inter";
  --ai-400: 400 16px/24px "Inter";
  --ai-450: 700 16px/20px "Inter";
  --ai-550: 700 18px/22px "Inter";
  --ai-650: 700 22px/28px "Inter";
  --ai-750: 700 28px/32px "Inter";
  --ai-850: 700 32px/40px "Inter";
  --ai-950: 700 36px/40px "Inter";
  --ai-white: #ffffff;
  --ai-black: #000000;
  --ai-gray50: #F2F3F4;
  --ai-gray100: #D7D8DB;
  --ai-gray150: #CACCCF;
  --ai-gray200: #BCBFC2;
  --ai-gray250: #AFB2B6;
  --ai-gray300: #A2A4A9;
  --ai-gray350: #95979C;
  --ai-gray400: #888A8F;
  --ai-gray450: #7B7D83;
  --ai-gray500: #6E7076;
  --ai-gray550: #5F6268;
  --ai-gray600: #505359;
  --ai-gray650: #3E4146;
  --ai-gray700: #2B2F33;
  --ai-gray750: #24262A;
  --ai-gray800: #1C1D21;
  --ai-gray850: #15161A;
  --ai-gray900: #0E0F12;
  --ai-gray950: #040405;
  --ai-blue50: #E5E9FF;
  --ai-blue100: #B8C1FF;
  --ai-blue200: #8C9BFF;
  --ai-blue300: #667BFF;
  --ai-blue400: #334EFF;
  --ai-blue500: #2C42D3;
  --ai-blue600: #2435A7;
  --ai-blue700: #1C2779;
  --ai-blue800: #1A1E36;
  --ai-blue-neon: #18FFFF;
  --ai-purple50: #F8EEFF;
  --ai-purple100: #E2BCFB;
  --ai-purple200: #D79AFF;
  --ai-purple300: #B65DF2;
  --ai-purple400: #A02DED;
  --ai-purple500: #812BBA;
  --ai-purple600: #622888;
  --ai-purple700: #412554;
  --ai-purple800: #2B1A36;
  --ai-purple-neon: #FF47CE;
  --ai-orange50: #FFDDC7;
  --ai-orange100: #FCBE94;
  --ai-orange200: #F9A269;
  --ai-orange300: #F5873D;
  --ai-orange400: #F16C12;
  --ai-orange500: #CA5A10;
  --ai-orange600: #A2490D;
  --ai-orange700: #692E07;
  --ai-orange800: #312118;
  --ai-orange-neon: #FF9212;
  --ai-green50: #E1F5E8;
  --ai-green100: #B0E9C3;
  --ai-green200: #80DD9F;
  --ai-green300: #50D17B;
  --ai-green400: #20C557;
  --ai-green500: #1B9F47;
  --ai-green600: #167737;
  --ai-green700: #104E25;
  --ai-green800: #182C22;
  --ai-green-neon: #00FF3C;
  --ai-red50: #FFD0D0;
  --ai-red100: #F7A4A4;
  --ai-red200: #EF7979;
  --ai-red300: #ED5151;
  --ai-red400: #D63333;
  --ai-red500: #B82121;
  --ai-red600: #901E1E;
  --ai-red700: #691212;
  --ai-red800: #2F191B;
  --ai-red-neon: #FF3737;
  --ai-yellow50: #FFF3D6;
  --ai-yellow100: #FFE49F;
  --ai-yellow200: #FFD66A;
  --ai-yellow300: #FFC736;
  --ai-yellow400: #FFB800;
  --ai-yellow500: #D59A03;
  --ai-yellow600: #AA7C05;
  --ai-yellow700: #715100;
  --ai-yellow800: #322B17;
  --ai-yellow-neon: #FFFF21;
  --ai-white-rgb: #ffffffff;
  --ai-black-rgb: #000000ff;
  --ai-gray50-rgb: #F2F3F4ff;
  --ai-gray100-rgb: #D7D8DBff;
  --ai-gray150-rgb: #CACCCFff;
  --ai-gray200-rgb: #BCBFC2ff;
  --ai-gray250-rgb: #AFB2B6ff;
  --ai-gray300-rgb: #A2A4A9ff;
  --ai-gray350-rgb: #95979Cff;
  --ai-gray400-rgb: #888A8Fff;
  --ai-gray450-rgb: #7B7D83ff;
  --ai-gray500-rgb: #6E7076ff;
  --ai-gray550-rgb: #5F6268ff;
  --ai-gray600-rgb: #505359ff;
  --ai-gray650-rgb: #3E4146ff;
  --ai-gray700-rgb: #2B2F33ff;
  --ai-gray750-rgb: #24262Aff;
  --ai-gray800-rgb: #1C1D21ff;
  --ai-gray850-rgb: #15161Aff;
  --ai-gray900-rgb: #0E0F12ff;
  --ai-gray950-rgb: #040405ff;
  --ai-blue50-rgb: #E5E9FFff;
  --ai-blue100-rgb: #B8C1FFff;
  --ai-blue200-rgb: #8C9BFFff;
  --ai-blue300-rgb: #667BFFff;
  --ai-blue400-rgb: #334EFFff;
  --ai-blue500-rgb: #2C42D3ff;
  --ai-blue600-rgb: #2435A7ff;
  --ai-blue700-rgb: #1C2779ff;
  --ai-blue800-rgb: #1A1E36ff;
  --ai-blue-neon-rgb: #18FFFFff;
  --ai-purple50-rgb: #F8EEFFff;
  --ai-purple100-rgb: #E2BCFBff;
  --ai-purple200-rgb: #D79AFFff;
  --ai-purple300-rgb: #B65DF2ff;
  --ai-purple400-rgb: #A02DEDff;
  --ai-purple500-rgb: #812BBAff;
  --ai-purple600-rgb: #622888ff;
  --ai-purple700-rgb: #412554ff;
  --ai-purple800-rgb: #2B1A36ff;
  --ai-purple-neon-rgb: #FF47CEff;
  --ai-orange50-rgb: #FFDDC7ff;
  --ai-orange100-rgb: #FCBE94ff;
  --ai-orange200-rgb: #F9A269ff;
  --ai-orange300-rgb: #F5873Dff;
  --ai-orange400-rgb: #F16C12ff;
  --ai-orange500-rgb: #CA5A10ff;
  --ai-orange600-rgb: #A2490Dff;
  --ai-orange700-rgb: #692E07ff;
  --ai-orange800-rgb: #312118ff;
  --ai-orange-neon-rgb: #FF9212ff;
  --ai-green50-rgb: #E1F5E8ff;
  --ai-green100-rgb: #B0E9C3ff;
  --ai-green200-rgb: #80DD9Fff;
  --ai-green300-rgb: #50D17Bff;
  --ai-green400-rgb: #20C557ff;
  --ai-green500-rgb: #1B9F47ff;
  --ai-green600-rgb: #167737ff;
  --ai-green700-rgb: #104E25ff;
  --ai-green800-rgb: #182C22ff;
  --ai-green-neon-rgb: #00FF3Cff;
  --ai-red50-rgb: #FFD0D0ff;
  --ai-red100-rgb: #F7A4A4ff;
  --ai-red200-rgb: #EF7979ff;
  --ai-red300-rgb: #ED5151ff;
  --ai-red400-rgb: #D63333ff;
  --ai-red500-rgb: #B82121ff;
  --ai-red600-rgb: #901E1Eff;
  --ai-red700-rgb: #691212ff;
  --ai-red800-rgb: #2F191Bff;
  --ai-red-neon-rgb: #FF3737ff;
  --ai-yellow50-rgb: #FFF3D6ff;
  --ai-yellow100-rgb: #FFE49Fff;
  --ai-yellow200-rgb: #FFD66Aff;
  --ai-yellow300-rgb: #FFC736ff;
  --ai-yellow400-rgb: #FFB800ff;
  --ai-yellow500-rgb: #D59A03ff;
  --ai-yellow600-rgb: #AA7C05ff;
  --ai-yellow700-rgb: #715100ff;
  --ai-yellow800-rgb: #322B17ff;
  --ai-yellow-neon-rgb: #FFFF21ff;
  --ai-mono100: 400 10px/12px "Source Code Pro";
  --ai-mono150: 600 10px/14px "Source Code Pro";
  --ai-mono200: 400 12px/16px "Source Code Pro";
  --ai-mono250: 600 12px/16px "Source Code Pro";
  --ai-mono300: 400 14px/20px "Source Code Pro";
  --ai-mono350: 600 14px/20px "Source Code Pro";
  --ai-mono400: 400 16px/24px "Source Code Pro";
  --ai-mono450: 700 16px/20px "Source Code Pro";
  --ai-mono550: 700 18px/22px "Source Code Pro";
  --ai-mono650: 700 22px/28px "Source Code Pro";
  --ai-mono750: 700 28px/32px "Source Code Pro";
  --ai-mono850: 700 32px/40px "Source Code Pro";
  --ai-mono950: 700 36px/40px "Source Code Pro";
  --ai-scale0: 2px;
  --ai-scale100: 4px;
  --ai-scale200: 6px;
  --ai-scale300: 8px;
  --ai-scale400: 10px;
  --ai-scale500: 12px;
  --ai-scale550: 14px;
  --ai-scale600: 16px;
  --ai-scale650: 18px;
  --ai-scale700: 20px;
  --ai-scale750: 22px;
  --ai-scale800: 24px;
  --ai-scale850: 28px;
  --ai-scale900: 32px;
  --ai-scale950: 36px;
  --ai-scale1000: 40px;
  --ai-scale1200: 48px;
  --ai-scale1400: 56px;
  --ai-scale1600: 64px;
  --ai-scale2400: 96px;
  --ai-scale3200: 128px;
  --ai-scale4800: 192px;
  --ai-accent50: #E5E9FF;
  --ai-accent100: #B8C1FF;
  --ai-accent200: #8C9BFF;
  --ai-accent300: #667BFF;
  --ai-accent400: #334EFF;
  --ai-accent500: #2C42D3;
  --ai-accent600: #2435A7;
  --ai-accent700: #1C2779;
  --ai-accent800: #1A1E36;
  --ai-negative50: #FFD0D0;
  --ai-negative100: #F7A4A4;
  --ai-negative200: #EF7979;
  --ai-negative300: #ED5151;
  --ai-negative400: #D63333;
  --ai-negative500: #B82121;
  --ai-negative600: #901E1E;
  --ai-negative700: #691212;
  --ai-negative800: #2F191B;
  --ai-positive50: #E1F5E8;
  --ai-positive100: #B0E9C3;
  --ai-positive200: #80DD9F;
  --ai-positive300: #50D17B;
  --ai-positive400: #20C557;
  --ai-positive500: #1B9F47;
  --ai-positive600: #167737;
  --ai-positive700: #104E25;
  --ai-positive800: #182C22;
  --ai-primary0: #ffffff;
  --ai-primary50: #F2F3F4;
  --ai-primary100: #D7D8DB;
  --ai-primary150: #CACCCF;
  --ai-primary200: #BCBFC2;
  --ai-primary250: #AFB2B6;
  --ai-primary300: #A2A4A9;
  --ai-primary350: #95979C;
  --ai-primary400: #888A8F;
  --ai-primary450: #7B7D83;
  --ai-primary500: #6E7076;
  --ai-primary550: #5F6268;
  --ai-primary600: #505359;
  --ai-primary650: #3E4146;
  --ai-primary700: #2B2F33;
  --ai-primary750: #24262A;
  --ai-primary800: #1C1D21;
  --ai-primary850: #15161A;
  --ai-primary900: #0E0F12;
  --ai-primary950: #040405;
  --ai-warning50: #FFF3D6;
  --ai-warning100: #FFE49F;
  --ai-warning200: #FFD66A;
  --ai-warning300: #FFC736;
  --ai-warning400: #FFB800;
  --ai-warning500: #D59A03;
  --ai-warning600: #AA7C05;
  --ai-warning700: #715100;
  --ai-warning800: #322B17;
  --ai-disposition-assumed-friend: #00FF3C;
  --ai-disposition-civilian: #FF47CE;
  --ai-disposition-friend: #18FFFF;
  --ai-disposition-hostile: #FF3737;
  --ai-disposition-pending: #F2F3F4;
  --ai-disposition-suspect: #FF9212;
  --ai-disposition-unknown: #FFFF21;
  --ai-accent50-rgb: #E5E9FFff;
  --ai-accent100-rgb: #B8C1FFff;
  --ai-accent200-rgb: #8C9BFFff;
  --ai-accent300-rgb: #667BFFff;
  --ai-accent400-rgb: #334EFFff;
  --ai-accent500-rgb: #2C42D3ff;
  --ai-accent600-rgb: #2435A7ff;
  --ai-accent700-rgb: #1C2779ff;
  --ai-accent800-rgb: #1A1E36ff;
  --ai-negative50-rgb: #FFD0D0ff;
  --ai-negative100-rgb: #F7A4A4ff;
  --ai-negative200-rgb: #EF7979ff;
  --ai-negative300-rgb: #ED5151ff;
  --ai-negative400-rgb: #D63333ff;
  --ai-negative500-rgb: #B82121ff;
  --ai-negative600-rgb: #901E1Eff;
  --ai-negative700-rgb: #691212ff;
  --ai-negative800-rgb: #2F191Bff;
  --ai-positive50-rgb: #E1F5E8ff;
  --ai-positive100-rgb: #B0E9C3ff;
  --ai-positive200-rgb: #80DD9Fff;
  --ai-positive300-rgb: #50D17Bff;
  --ai-positive400-rgb: #20C557ff;
  --ai-positive500-rgb: #1B9F47ff;
  --ai-positive600-rgb: #167737ff;
  --ai-positive700-rgb: #104E25ff;
  --ai-positive800-rgb: #182C22ff;
  --ai-primary0-rgb: #ffffffff;
  --ai-primary50-rgb: #F2F3F4ff;
  --ai-primary100-rgb: #D7D8DBff;
  --ai-primary150-rgb: #CACCCFff;
  --ai-primary200-rgb: #BCBFC2ff;
  --ai-primary250-rgb: #AFB2B6ff;
  --ai-primary300-rgb: #A2A4A9ff;
  --ai-primary350-rgb: #95979Cff;
  --ai-primary400-rgb: #888A8Fff;
  --ai-primary450-rgb: #7B7D83ff;
  --ai-primary500-rgb: #6E7076ff;
  --ai-primary550-rgb: #5F6268ff;
  --ai-primary600-rgb: #505359ff;
  --ai-primary650-rgb: #3E4146ff;
  --ai-primary700-rgb: #2B2F33ff;
  --ai-primary750-rgb: #24262Aff;
  --ai-primary800-rgb: #1C1D21ff;
  --ai-primary850-rgb: #15161Aff;
  --ai-primary900-rgb: #0E0F12ff;
  --ai-primary950-rgb: #040405ff;
  --ai-warning50-rgb: #FFF3D6ff;
  --ai-warning100-rgb: #FFE49Fff;
  --ai-warning200-rgb: #FFD66Aff;
  --ai-warning300-rgb: #FFC736ff;
  --ai-warning400-rgb: #FFB800ff;
  --ai-warning500-rgb: #D59A03ff;
  --ai-warning600-rgb: #AA7C05ff;
  --ai-warning700-rgb: #715100ff;
  --ai-warning800-rgb: #322B17ff;
  --ai-disposition-assumed-friend-rgb: #00FF3Cff;
  --ai-disposition-civilian-rgb: #FF47CEff;
  --ai-disposition-friend-rgb: #18FFFFff;
  --ai-disposition-hostile-rgb: #FF3737ff;
  --ai-disposition-pending-rgb: #F2F3F4ff;
  --ai-disposition-suspect-rgb: #FF9212ff;
  --ai-disposition-unknown-rgb: #FFFF21ff;
}

