/**
  * This lovely file was brought to you via automation
  * Please do not update directly, as your changes will not persist
  **/

.light {
    --ai-sizing-scale4800: 192px;
    --ai-sizing-scale3200: 128px;
    --ai-sizing-scale2400: 96px;
    --ai-sizing-scale1600: 64px;
    --ai-sizing-scale1400: 56px;
    --ai-sizing-scale1200: 48px;
    --ai-sizing-scale1000: 40px;
    --ai-sizing-scale950: 36px;
    --ai-sizing-scale900: 32px;
    --ai-sizing-scale850: 28px;
    --ai-sizing-scale800: 24px;
    --ai-sizing-scale750: 22px;
    --ai-sizing-scale700: 20px;
    --ai-sizing-scale650: 18px;
    --ai-sizing-scale600: 16px;
    --ai-sizing-scale550: 14px;
    --ai-sizing-scale500: 12px;
    --ai-sizing-scale400: 10px;
    --ai-sizing-scale300: 8px;
    --ai-sizing-scale200: 6px;
    --ai-sizing-scale100: 4px;
    --ai-sizing-scale0: 2px;
    --ai-font-mono950: 700 36px/40px "Source Code Pro";
    --ai-font-mono850: 700 32px/40px "Source Code Pro";
    --ai-font-mono750: 700 28px/32px "Source Code Pro";
    --ai-font-mono650: 700 22px/28px "Source Code Pro";
    --ai-font-mono550: 700 18px/22px "Source Code Pro";
    --ai-font-mono450: 700 16px/20px "Source Code Pro";
    --ai-font-mono400: 400 16px/24px "Source Code Pro";
    --ai-font-mono350: 600 14px/20px "Source Code Pro";
    --ai-font-mono300: 400 14px/20px "Source Code Pro";
    --ai-font-mono250: 600 12px/16px "Source Code Pro";
    --ai-font-mono200: 400 12px/16px "Source Code Pro";
    --ai-font-mono150: 600 10px/14px "Source Code Pro";
    --ai-font-mono100: 400 10px/12px "Source Code Pro";
    --ai-font-950: 700 36px/40px "Inter";
    --ai-font-850: 700 32px/40px "Inter";
    --ai-font-750: 700 28px/32px "Inter";
    --ai-font-650: 700 22px/28px "Inter";
    --ai-font-550: 700 18px/22px "Inter";
    --ai-font-450: 700 16px/20px "Inter";
    --ai-font-400: 400 16px/24px "Inter";
    --ai-font-350: 600 14px/20px "Inter";
    --ai-font-300: 400 14px/20px "Inter";
    --ai-font-250: 600 12px/16px "Inter";
    --ai-font-200: 400 12px/16px "Inter";
    --ai-font-150: 600 10px/14px "Inter";
    --ai-font-100: 400 10px/12px "Inter";
    --ai-color-disposition-unknown-rgb: 255, 255, 33;
    --ai-color-disposition-suspect-rgb: 255, 146, 18;
    --ai-color-disposition-pending-rgb: 242, 243, 244;
    --ai-color-disposition-hostile-rgb: 255, 55, 55;
    --ai-color-disposition-friend-rgb: 24, 255, 255;
    --ai-color-disposition-civilian-rgb: 255, 71, 206;
    --ai-color-disposition-assumed-friend-rgb: 0, 255, 60;
    --ai-color-warning800-rgb: 50, 43, 23;
    --ai-color-warning700-rgb: 113, 81, 0;
    --ai-color-warning600-rgb: 170, 124, 5;
    --ai-color-warning500-rgb: 213, 154, 3;
    --ai-color-warning400-rgb: 255, 184, 0;
    --ai-color-warning300-rgb: 255, 199, 54;
    --ai-color-warning200-rgb: 255, 214, 106;
    --ai-color-warning100-rgb: 255, 228, 159;
    --ai-color-warning50-rgb: 255, 243, 214;
    --ai-color-primary950-rgb: 4, 4, 5;
    --ai-color-primary900-rgb: 14, 15, 18;
    --ai-color-primary850-rgb: 21, 22, 26;
    --ai-color-primary800-rgb: 28, 29, 33;
    --ai-color-primary750-rgb: 36, 38, 42;
    --ai-color-primary700-rgb: 43, 47, 51;
    --ai-color-primary650-rgb: 62, 65, 70;
    --ai-color-primary600-rgb: 80, 83, 89;
    --ai-color-primary550-rgb: 95, 98, 104;
    --ai-color-primary500-rgb: 110, 112, 118;
    --ai-color-primary450-rgb: 123, 125, 131;
    --ai-color-primary400-rgb: 136, 138, 143;
    --ai-color-primary350-rgb: 149, 151, 156;
    --ai-color-primary300-rgb: 162, 164, 169;
    --ai-color-primary250-rgb: 175, 178, 182;
    --ai-color-primary200-rgb: 188, 191, 194;
    --ai-color-primary150-rgb: 202, 204, 207;
    --ai-color-primary100-rgb: 215, 216, 219;
    --ai-color-primary50-rgb: 242, 243, 244;
    --ai-color-primary0-rgb: 255, 255, 255;
    --ai-color-positive800-rgb: 24, 44, 34;
    --ai-color-positive700-rgb: 16, 78, 37;
    --ai-color-positive600-rgb: 22, 119, 55;
    --ai-color-positive500-rgb: 27, 159, 71;
    --ai-color-positive400-rgb: 32, 197, 87;
    --ai-color-positive300-rgb: 80, 209, 123;
    --ai-color-positive200-rgb: 128, 221, 159;
    --ai-color-positive100-rgb: 176, 233, 195;
    --ai-color-positive50-rgb: 225, 245, 232;
    --ai-color-negative800-rgb: 47, 25, 27;
    --ai-color-negative700-rgb: 105, 18, 18;
    --ai-color-negative600-rgb: 144, 30, 30;
    --ai-color-negative500-rgb: 184, 33, 33;
    --ai-color-negative400-rgb: 214, 51, 51;
    --ai-color-negative300-rgb: 237, 81, 81;
    --ai-color-negative200-rgb: 239, 121, 121;
    --ai-color-negative100-rgb: 247, 164, 164;
    --ai-color-negative50-rgb: 255, 208, 208;
    --ai-color-accent800-rgb: 26, 30, 54;
    --ai-color-accent700-rgb: 28, 39, 121;
    --ai-color-accent600-rgb: 36, 53, 167;
    --ai-color-accent500-rgb: 44, 66, 211;
    --ai-color-accent400-rgb: 51, 78, 255;
    --ai-color-accent300-rgb: 102, 123, 255;
    --ai-color-accent200-rgb: 140, 155, 255;
    --ai-color-accent100-rgb: 184, 193, 255;
    --ai-color-accent50-rgb: 229, 233, 255;
    --ai-color-disposition-unknown: #ffff21;
    --ai-color-disposition-suspect: #ff9212;
    --ai-color-disposition-pending: #f2f3f4;
    --ai-color-disposition-hostile: #ff3737;
    --ai-color-disposition-friend: #18ffff;
    --ai-color-disposition-civilian: #ff47ce;
    --ai-color-disposition-assumed-friend: #00ff3c;
    --ai-color-warning800: #322b17;
    --ai-color-warning700: #715100;
    --ai-color-warning600: #aa7c05;
    --ai-color-warning500: #d59a03;
    --ai-color-warning400: #ffb800;
    --ai-color-warning300: #ffc736;
    --ai-color-warning200: #ffd66a;
    --ai-color-warning100: #ffe49f;
    --ai-color-warning50: #fff3d6;
    --ai-color-primary950: #040405;
    --ai-color-primary900: #0e0f12;
    --ai-color-primary850: #15161a;
    --ai-color-primary800: #1c1d21;
    --ai-color-primary750: #24262a;
    --ai-color-primary700: #2b2f33;
    --ai-color-primary650: #3e4146;
    --ai-color-primary600: #505359;
    --ai-color-primary550: #5f6268;
    --ai-color-primary500: #6e7076;
    --ai-color-primary450: #7b7d83;
    --ai-color-primary400: #888a8f;
    --ai-color-primary350: #95979c;
    --ai-color-primary300: #a2a4a9;
    --ai-color-primary250: #afb2b6;
    --ai-color-primary200: #bcbfc2;
    --ai-color-primary150: #cacccf;
    --ai-color-primary100: #d7d8db;
    --ai-color-primary50: #f2f3f4;
    --ai-color-primary0: #ffffff;
    --ai-color-positive800: #182c22;
    --ai-color-positive700: #104e25;
    --ai-color-positive600: #167737;
    --ai-color-positive500: #1b9f47;
    --ai-color-positive400: #20c557;
    --ai-color-positive300: #50d17b;
    --ai-color-positive200: #80dd9f;
    --ai-color-positive100: #b0e9c3;
    --ai-color-positive50: #e1f5e8;
    --ai-color-negative800: #2f191b;
    --ai-color-negative700: #691212;
    --ai-color-negative600: #901e1e;
    --ai-color-negative500: #b82121;
    --ai-color-negative400: #d63333;
    --ai-color-negative300: #ed5151;
    --ai-color-negative200: #ef7979;
    --ai-color-negative100: #f7a4a4;
    --ai-color-negative50: #ffd0d0;
    --ai-color-accent800: #1a1e36;
    --ai-color-accent700: #1c2779;
    --ai-color-accent600: #2435a7;
    --ai-color-accent500: #2c42d3;
    --ai-color-accent400: #334eff;
    --ai-color-accent300: #667bff;
    --ai-color-accent200: #8c9bff;
    --ai-color-accent100: #b8c1ff;
    --ai-color-accent50: #e5e9ff;
    --ai-color-yellow-neon-rgb: 255, 255, 33;
    --ai-color-yellow800-rgb: 50, 43, 23;
    --ai-color-yellow700-rgb: 113, 81, 0;
    --ai-color-yellow600-rgb: 170, 124, 5;
    --ai-color-yellow500-rgb: 213, 154, 3;
    --ai-color-yellow400-rgb: 255, 184, 0;
    --ai-color-yellow300-rgb: 255, 199, 54;
    --ai-color-yellow200-rgb: 255, 214, 106;
    --ai-color-yellow100-rgb: 255, 228, 159;
    --ai-color-yellow50-rgb: 255, 243, 214;
    --ai-color-red-neon-rgb: 255, 55, 55;
    --ai-color-red800-rgb: 47, 25, 27;
    --ai-color-red700-rgb: 105, 18, 18;
    --ai-color-red600-rgb: 144, 30, 30;
    --ai-color-red500-rgb: 184, 33, 33;
    --ai-color-red400-rgb: 214, 51, 51;
    --ai-color-red300-rgb: 237, 81, 81;
    --ai-color-red200-rgb: 239, 121, 121;
    --ai-color-red100-rgb: 247, 164, 164;
    --ai-color-red50-rgb: 255, 208, 208;
    --ai-color-green-neon-rgb: 0, 255, 60;
    --ai-color-green800-rgb: 24, 44, 34;
    --ai-color-green700-rgb: 16, 78, 37;
    --ai-color-green600-rgb: 22, 119, 55;
    --ai-color-green500-rgb: 27, 159, 71;
    --ai-color-green400-rgb: 32, 197, 87;
    --ai-color-green300-rgb: 80, 209, 123;
    --ai-color-green200-rgb: 128, 221, 159;
    --ai-color-green100-rgb: 176, 233, 195;
    --ai-color-green50-rgb: 225, 245, 232;
    --ai-color-orange-neon-rgb: 255, 146, 18;
    --ai-color-orange800-rgb: 49, 33, 24;
    --ai-color-orange700-rgb: 105, 46, 7;
    --ai-color-orange600-rgb: 162, 73, 13;
    --ai-color-orange500-rgb: 202, 90, 16;
    --ai-color-orange400-rgb: 241, 108, 18;
    --ai-color-orange300-rgb: 245, 135, 61;
    --ai-color-orange200-rgb: 249, 162, 105;
    --ai-color-orange100-rgb: 252, 190, 148;
    --ai-color-orange50-rgb: 255, 221, 199;
    --ai-color-purple-neon-rgb: 255, 71, 206;
    --ai-color-purple800-rgb: 43, 26, 54;
    --ai-color-purple700-rgb: 65, 37, 84;
    --ai-color-purple600-rgb: 98, 40, 136;
    --ai-color-purple500-rgb: 129, 43, 186;
    --ai-color-purple400-rgb: 160, 45, 237;
    --ai-color-purple300-rgb: 182, 93, 242;
    --ai-color-purple200-rgb: 215, 154, 255;
    --ai-color-purple100-rgb: 226, 188, 251;
    --ai-color-purple50-rgb: 248, 238, 255;
    --ai-color-blue-neon-rgb: 24, 255, 255;
    --ai-color-blue800-rgb: 26, 30, 54;
    --ai-color-blue700-rgb: 28, 39, 121;
    --ai-color-blue600-rgb: 36, 53, 167;
    --ai-color-blue500-rgb: 44, 66, 211;
    --ai-color-blue400-rgb: 51, 78, 255;
    --ai-color-blue300-rgb: 102, 123, 255;
    --ai-color-blue200-rgb: 140, 155, 255;
    --ai-color-blue100-rgb: 184, 193, 255;
    --ai-color-blue50-rgb: 229, 233, 255;
    --ai-color-gray950-rgb: 4, 4, 5;
    --ai-color-gray900-rgb: 14, 15, 18;
    --ai-color-gray850-rgb: 21, 22, 26;
    --ai-color-gray800-rgb: 28, 29, 33;
    --ai-color-gray750-rgb: 36, 38, 42;
    --ai-color-gray700-rgb: 43, 47, 51;
    --ai-color-gray650-rgb: 62, 65, 70;
    --ai-color-gray600-rgb: 80, 83, 89;
    --ai-color-gray550-rgb: 95, 98, 104;
    --ai-color-gray500-rgb: 110, 112, 118;
    --ai-color-gray450-rgb: 123, 125, 131;
    --ai-color-gray400-rgb: 136, 138, 143;
    --ai-color-gray350-rgb: 149, 151, 156;
    --ai-color-gray300-rgb: 162, 164, 169;
    --ai-color-gray250-rgb: 175, 178, 182;
    --ai-color-gray200-rgb: 188, 191, 194;
    --ai-color-gray150-rgb: 202, 204, 207;
    --ai-color-gray100-rgb: 215, 216, 219;
    --ai-color-gray50-rgb: 242, 243, 244;
    --ai-color-black-rgb: 0, 0, 0;
    --ai-color-white-rgb: 255, 255, 255;
    --ai-color-yellow-neon: #ffff21;
    --ai-color-yellow800: #322b17;
    --ai-color-yellow700: #715100;
    --ai-color-yellow600: #aa7c05;
    --ai-color-yellow500: #d59a03;
    --ai-color-yellow400: #ffb800;
    --ai-color-yellow300: #ffc736;
    --ai-color-yellow200: #ffd66a;
    --ai-color-yellow100: #ffe49f;
    --ai-color-yellow50: #fff3d6;
    --ai-color-red-neon: #ff3737;
    --ai-color-red800: #2f191b;
    --ai-color-red700: #691212;
    --ai-color-red600: #901e1e;
    --ai-color-red500: #b82121;
    --ai-color-red400: #d63333;
    --ai-color-red300: #ed5151;
    --ai-color-red200: #ef7979;
    --ai-color-red100: #f7a4a4;
    --ai-color-red50: #ffd0d0;
    --ai-color-green-neon: #00ff3c;
    --ai-color-green800: #182c22;
    --ai-color-green700: #104e25;
    --ai-color-green600: #167737;
    --ai-color-green500: #1b9f47;
    --ai-color-green400: #20c557;
    --ai-color-green300: #50d17b;
    --ai-color-green200: #80dd9f;
    --ai-color-green100: #b0e9c3;
    --ai-color-green50: #e1f5e8;
    --ai-color-orange-neon: #ff9212;
    --ai-color-orange800: #312118;
    --ai-color-orange700: #692e07;
    --ai-color-orange600: #a2490d;
    --ai-color-orange500: #ca5a10;
    --ai-color-orange400: #f16c12;
    --ai-color-orange300: #f5873d;
    --ai-color-orange200: #f9a269;
    --ai-color-orange100: #fcbe94;
    --ai-color-orange50: #ffddc7;
    --ai-color-purple-neon: #ff47ce;
    --ai-color-purple800: #2b1a36;
    --ai-color-purple700: #412554;
    --ai-color-purple600: #622888;
    --ai-color-purple500: #812bba;
    --ai-color-purple400: #a02ded;
    --ai-color-purple300: #b65df2;
    --ai-color-purple200: #d79aff;
    --ai-color-purple100: #e2bcfb;
    --ai-color-purple50: #f8eeff;
    --ai-color-blue-neon: #18ffff;
    --ai-color-blue800: #1a1e36;
    --ai-color-blue700: #1c2779;
    --ai-color-blue600: #2435a7;
    --ai-color-blue500: #2c42d3;
    --ai-color-blue400: #334eff;
    --ai-color-blue300: #667bff;
    --ai-color-blue200: #8c9bff;
    --ai-color-blue100: #b8c1ff;
    --ai-color-blue50: #e5e9ff;
    --ai-color-gray950: #040405;
    --ai-color-gray900: #0e0f12;
    --ai-color-gray850: #15161a;
    --ai-color-gray800: #1c1d21;
    --ai-color-gray750: #24262a;
    --ai-color-gray700: #2b2f33;
    --ai-color-gray650: #3e4146;
    --ai-color-gray600: #505359;
    --ai-color-gray550: #5f6268;
    --ai-color-gray500: #6e7076;
    --ai-color-gray450: #7b7d83;
    --ai-color-gray400: #888a8f;
    --ai-color-gray350: #95979c;
    --ai-color-gray300: #a2a4a9;
    --ai-color-gray250: #afb2b6;
    --ai-color-gray200: #bcbfc2;
    --ai-color-gray150: #cacccf;
    --ai-color-gray100: #d7d8db;
    --ai-color-gray50: #f2f3f4;
    --ai-color-black: #000000;
    --ai-color-white: #ffffff;
}
